<nav>
    <ul>
        <li class="all selected"><a href="/">All</a></li>
        <li class="projects"><a href="/Project">Projects</a></li>
        <li class="photos"><a href="/Photo">Photos</a></li>
        <li class="musings"><a href="/Musing">Musings</a></li>
    </ul>
</nav>