<div id="main-content">
    <div id="hero">
        <div class="hero-bg"></div>
        <img src="/img/us.jpg" />
        <h1>Hi. I'm Brandon Aldred.</h1>
        <p>An autodidact, swimming in the world of design, marketing & web development.</p>
    </div>