<div id="jump-offs">
    <h2>Intro</h2>
    <ul>
        <li class="home">Lives in <b>Chico, California</b></li>
        <li class="location">From <b>Oakley, California</b></li>
        <li class="github"><a href="https://github.com/brandonaldred" target="_blank">View GitHub</a></li>
        <li class="instagram"><a href="https://www.instagram.com/brandonaldred/" target="_blank">View Instagram</a></li>
        <li class="linkedin"><a href="https://www.linkedin.com/in/brandon-aldred-22190043/" target="_blank">View Linkedin</a></li>
        <li class="youtube"><a href="https://www.youtube.com/channel/UCqzb5QpkXILEPRU_cLiAXWg" target="_blank">View YouTube</a></li>
    </ul>
</div>
