<div id="header">
    <a href="/"><img src="/img/logo.png" /></a>
    <div class="menu">
        <img src="/img/menu.svg" />
    </div>
    <div id="nav-container" class="hide">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <% if(loggedIn) { %>
                    <li><a href="/compose/write" style="color: var(--blue-on-dark);">Compose</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
</div>