<%- include('layouts/header.ejs'); -%>

<body>
    <div id="container">
        <%- include ('layouts/navigation.ejs'); -%>
        <div class="project-header">
            <img src="https://scontent.fsac1-1.fna.fbcdn.net/v/t1.6435-9/133344869_10221174047435271_408278024863726407_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=730e14&_nc_ohc=11kNZgWOITUAX-DRZFb&_nc_ht=scontent.fsac1-1.fna&oh=00_AT-q_VtHGIKxSFGc9GWpZti7J4DAO2QGPiNrdv1UHARjgg&oe=622E623A" />
        </div>
        <div class="project-container">
            <div class="project-body-container">
                <div class="project-title-container">
                    <p class="project-published">
                        
                    </p>
                    <h1 class="project-title"><img src="/img/project.svg">
                        About Me
                    </h1>
                </div>





        My title is Marketing Manager, but I prefer something like "creative problem solver." Or maybe even just, "A dude that loves to hustle, provide value, and always keep things moving forward.”

A self-taught practitioner of design and marketing for more than 15 years, it all began when I started a web design company in high school with a couple of buddies. I later launched my own successful screen-printing and vinyl shop. In between, I've done a ton of designing, creating, and serving customers, all the while building my skill set, feeding my curiosity and thirst for knowledge, stroking my entrepreneurial spirit, and developing a passion for business.

Some things I've learned about myself:
I have big ideas.
Lots of people have big ideas; I put in the work.
I am a huge tech & computer nerd.
I'm excited by the creative process.
I enjoy solving problems.
I thrive in times of chaos and challenge.

I create meaningful connections between business' and customers by design. I have a masters in email marketing with a bachelors in social media. I know, I know. There’s no such thing, but these are the environments I like to call home.

I'm an open book and love to share my story with the world. I currently do marketing by day and videography/editing by night. If you want to see some work, know more about me or follow my journey, check out my Facebook (facebook.com/brandonaldred), Instagram (brandonaldred), YouTube (youtube.com/brandonaldred) or Twitter (@brandonaldred).
<%- include ('layouts/footer.ejs'); %>