<%- include('layouts/header.ejs'); -%>
<%- include ('layouts/navigation.ejs'); -%>
<div id="write-post">
    <h2>Add Post</h2>
    <form action="/compose/store" method="POST">
        <div class="option">
            <input type="text" class="select" name="type" placeholder="Type of post" autocomplete="off">
            <img src="img/arrow-circle-down.svg" />
        </div>
        <div class="options collapsed">
            <div class="option-hide">
                <p class="option-item">Musing</p>
                <p class="option-item">Project</p>
                <p class="option-item">Photo</p>
            </div>
        </div>
        <div>
            <!--
            <label for="file-upload" class="custom-file-upload">
                Upload Photo(s)
            </label>
            <input name="file-upload" id="file-upload" type="file" accept="image/*" />
            -->
        </div>
        <input type="text" id="image" placeholder="Image URL" name="image" autocomplete="off" />
        <input type="text" id="title" placeholder="Title" name="title" autocomplete="off" />
        <input type="text" id="preview" placeholder="Preview" name="preview" autocomplete="off" />
        <textarea id="body" name="body" placeholder="What's the post about?"></textarea>
        <input type="submit" value="Add Post">
    </form>
</div>
<script src="js/writePost.js"></script>
<%- include ('layouts/footer.ejs'); %>