:root {
    --blue-on-dark: #00A3FF;
    --dark-gray: #2B2B2B;
    --light-gray: #5E5E5E;
    --card-background: #212121;
    --card-radius: 5px;
    --font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--dark-gray);
    color: #FFFFFF;
    font-family: var(--font);
}

p {
    font-weight:100;
    line-height: 1.75em;
}

#container {
    max-width: 850px;
    margin: auto;
}

.hide {
    display: none;
}

#header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: auto;
}

#header img:nth-child(1) {
    width: 100px;
}

.menu {
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu img {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.nav-show {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--card-background);
    position: absolute;
    margin-top: 84px;
    z-index: 100;
    top: 0;
    right: 0;
    filter: drop-shadow(0px 40px 15px rgba(0, 0, 0, 0.25));
}

#header ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
}

#header li {
    padding: 20px;
    width: 200px;
    border-bottom: 1px solid var(--dark-gray);
    text-align: center;
}
#header li:nth-child(1) {
    margin-top: 30px;
}

#header li:nth-child(3) {
    margin-bottom: 30px;
    border-bottom: none;
}

#header li a {
    text-decoration: none;
    color: #ffffff;
}

#header li a:hover {
    color: var(--blue-on-dark);
}

.blur {
    filter: blur(5px);
    opacity: 0.3;
}

#hero {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 10rem;
    position: relative;
}

#hero img {
    border-radius: 50%;
    width: 35%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero-bg {
    background-image: url('/img/desk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vw;
    max-height: 350px;
    max-width: 850px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#hero h1 {
    margin: 35px 0 15px 0;
    font-size: 1.25em;

}

#hero p {
    width: 80%;
    margin: auto;
}

#jump-offs {
    margin-top: 50px;
    background: #000000;
    padding: 50px 0 35px 0;
    border-bottom: 1px solid var(--light-gray);
}

#jump-offs h2 {
    display: none;
}

#jump-offs ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: .75rem;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 350px;
}

#jump-offs li {
    list-style-type: none;
    width: 45%;
    vertical-align: text-top;
    height: 30px;
    margin-bottom: 10px;
}

#jump-offs li a{
    text-decoration: none;
    color: var(--blue-on-dark);

}

#jump-offs li a:hover{
    text-decoration: underline;
}

.home::before {
    content: url('/img/home-icon.svg');
    margin-right: 5px;
    vertical-align:middle;
}

.location::before {
    content: url('/img/location-icon.svg');
    margin-right: 5px;
    vertical-align:middle;
}

.github::before {
    content: url('/img/github-icon.svg');
    margin-right: 5px;
    vertical-align:middle;
}

.instagram::before {
    content: url('/img/insta-icon.svg');
    margin-right: 5px;
    vertical-align:middle;
}

.youtube::before {
    content: url('/img/youtube-icon.svg');
    margin-right: 5px;
    vertical-align:middle;
}

.linkedin::before {
    content: url('/img/linkedin-icon.svg');
    margin-right: 5px;
    vertical-align:middle;
}

#content {
    padding-top: 12px;
}

#content nav {
    margin-bottom: 25px;
    margin-top: 8px;
}

#content a {
    text-decoration: none;
    color: #ffffff;
}

#content nav ul{
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
}

#content nav li {
    list-style: none;
    padding: 0 15px 10px 15px;
    font-weight: 500;
    cursor: pointer;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
    font-size: .95em;
}

#content nav li:hover {
    color: var(--blue-on-dark);
    transform: scale(1.05);
    background-color: #383838;
    border-radius: var(--card-radius);
    transform-origin: center;
    margin-top: -15px;
    padding-top: 15px;
}

#content nav .selected {
    color:var(--blue-on-dark);
    border-bottom: 3px solid var(--blue-on-dark);
}

.project-card {
    width: 90%;
    margin: 0 auto 35px auto;
    background-color: var(--card-background);
    border-radius: var(--card-radius);
    padding-bottom: 0;
    transition-duration: .2s;
    transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project-card:hover {
    transform: scale(1.02);
}

.card-copy {
    padding: 25px;
}

.card-date {
    color: var(--light-gray);
    width: 100%;
    padding-bottom: 5px;
    font-size: .75em;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--light-gray);
}

.date-type {
    display: flex;
    align-items: center;
}

.date-type img {
    height: 15px !important;
    width: 15px !important;
    margin-right: 10px !important;
}

.project-card h3 {
    margin-bottom: 10px;
    font-size: 1.75em;
}

.project-card img {
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    padding: 0;
}

#write-post {
    padding: 20px;
    width: 100%;
    margin: auto;
}

#write-post h2 {
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.option { 
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 45px;
}

.option:hover {
    cursor: pointer;
}

.inverted {
    transform: rotate(180deg);
}

.select {
    color: var(--light-gray);
}

.options {
    text-align: center;
    background-color: var(--card-background);
}

.options p {
    padding-top: 25px;
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 25px;
}

.options p:hover {
    cursor: pointer;
    background-color:#383838;
}

.collapsed {
    height: 0;
}

.expanded {
    height: auto;
}

.option-hide {
    display: none;
}

input[type="file"] {
    display: none;
}
.custom-file-upload, input[type="submit"] {
    color: var(--blue-on-dark);
    border: 1px solid var(--blue-on-dark);
    border-radius: var(--card-radius);
    display: inline-block;
    width: 175px;
    height: 45px;
    cursor: pointer;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 12px;
    margin: 45px auto 0 auto;
}

input[type="submit"] {
    background-color: var(--blue-on-dark);
    color: #ffffff;
    width: 100%;
    height: 60px;
    font-size: 16px;
}

input[type="text"], textarea, input[type="password"] {
    margin-top: 45px;
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px var(--blue-on-dark);
    background: none;
    padding-bottom: 15px;
    color: #ffffff;
    width: 100%;
    font: var(--font);
}

input,textarea:focus {
    outline: none;
}

textarea {
    transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    min-height: 55px;
    height: 55px;
    resize: vertical;
}

textarea:focus {
    height: 3000px;
}


/*
START PROJECT PAGE STYLES
*/

.project-container {
    width: 100%;
    margin: -50px auto;
    z-index: 50;
}

.project-container p {
    margin-bottom: 45px;
}

.project-header {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.project-header img {
    object-fit: cover;
    object-position: center;
    position: relative;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.project-title-container {
    background: linear-gradient(180deg, #4E4E4E -54.24%, rgba(94, 94, 94, 0) 88.14%), #212121;
    width: 100%;
    min-width: 350px;
    border-radius: 30px 30px 0 0;
    margin-top: -100px;
    margin-left: -35px;
    padding-left: 35px;
    padding-top: 20px;
    position: relative;
    top: 0;
    filter: drop-shadow(0px -5px 3px rgba(0, 0, 0, 0.20));
}

.project-title {
    width: 80%;
    font-size: 1.2em;
    margin-bottom: 35px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--light-gray);
}

.project-title img {
    margin-right: 10px;
    height: 18px;
}


.project-published {
    color: var(--blue-on-dark);
    font-size: .75em;
    margin-bottom: 10px !important;
    width: 80%;
}

.project-body-container {
    height: auto;
    padding: 35px;
    background: var(--card-background);
    border-radius: 0 0 5px 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.project-body-container h3 {
    font-size: 1em;
    margin-bottom: 15px;
}

.project-body-container p {
    font-size: .9em;
    line-height: 2.25em;
}

/*
END PROJECT PAGE STYLES
*/

@media screen and (min-width: 700px) {
    .menu {
        display: none;
    }

    .hide { display: block; }

    #nav-container li{
        display: inline;
    }

    #hero h1 {
        font-size: 2em;
    }

    #hero p {
        font-size: 1.2em;
        max-width: 450px;
        margin: auto;
    }

    #hero p br {
        display: none;
    }

    #main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        position: relative;
    }

    #jump-offs {
        width: 25%;
        background: var(--dark-gray);
        border-bottom: none;
        padding: 0;
    }

    #jump-offs h2 {
        display: block;
        border-bottom: 1px solid var(--light-gray);
        padding-bottom: 10px;
        margin-bottom: 25px;
    }

    #jump-offs li {
        width: 100%;
    }

    .all::before {
        content: url('/img/view-list.svg');
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .projects::before {
        content: url('/img/project.svg');
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .photos::before {
        content: url('/img/photo.svg');
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .musings::before {
        content: url('/img/musing.svg');
        margin-right: 10px;
        vertical-align: middle;
    }

    #content {
        width: 65%;
        margin-top: 38px;
    }

    .project-body-container {
        width: 90%;
        margin: -10px auto 0 auto;
    }

    .project-title-container {
        width: 60%;
    }

    .project-header img {
        width: 100%;
        height: 100%;
        object-fit: center;
    }
}